@model IEnumerable<Young_Artists.Models.ContactPerson>

@{
    ViewData["Title"] = "List";
}


<div class="pagetitle">
    <h1>聯絡人資料表</h1>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-body">

@using (Html.BeginForm())
{
    <p>
        關鍵字
        @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢" />
    </p>
}

<p>
            <a asp-action="Create" class="btn btn-primary">新增聯絡人資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactpersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactpersonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactpersonPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactpersonEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactpersonOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) 
            {
                count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactpersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactpersonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactpersonPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactpersonEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactpersonOnline)
            </td>
            <td>
                @Html.ActionLink("", "Edit", new { id=item.Id}, new { @Class = "btn btn-warning bi bi-brush text-white"})
                @Html.ActionLink("", "Delete", "ContactPerson", new {id=item.Id}, new {onclick="return confirm('確定要刪除嗎?')", Class = "btn btn-danger bi bi-trash3 text-white"})
            </td>
        </tr>
}}
    </tbody>
</table>
