@model IEnumerable<Young_Artists.Models.Advertisement>

@{
    ViewData["Title"] = "List";
}

<h1>廣告資料檢視表</h1>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢" />
    </p>
}

<p>
    <a asp-action="Create">新增廣告</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementAlt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementHref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementStartdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementEnddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
            <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementName)
            </td>
            <td>
                <img src="~/images/@item.AdvertisementSrc" width="80" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementHref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementStartdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementEnddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementOnline)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id=item.Id}) |
                @Html.ActionLink("刪除", "Delete", "Advertisement", new { id=item.Id }, new{onclick= "return confirm('確定要刪除嗎?')"})
            </td>
        </tr>
        
}}
    </tbody>
</table>
