@model IEnumerable<Young_Artists.Models.Customer>

@{
    ViewData["Title"] = "List";
}

<div class="pagetitle">
    <h1>客戶資料一覽表</h1>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-body">

        @using (Html.BeginForm())
        {
            <div class="my-4">
                <lable class="card-title">關鍵字</lable>

                @Html.TextBox("txtKeyword")
                <input type="submit" value="查詢" />
            </div>
        }

        <p>
            <a asp-action="Create" class="btn-primary btn bi bi-person-plus text-white">新增客戶</a>
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        序
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPassword)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerRegion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerBirthDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerGender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerCreatTimestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerUpdateTimestamp)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerPassword)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerRegion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerBirthDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerGender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerCreatTimestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerUpdateTimestamp)
                            </td>
                            <td>
                                @Html.ActionLink("", "Edit", "Customer", new { id = item.CustomerId }, new { @Class = "btn btn-warning bi bi-brush text-white"})
                                @Html.ActionLink("", "Delete", "Customer", new { id = item.CustomerId },
                        new { onclick = "return confirm('確定要刪除嗎?')" , Class = "btn btn-danger bi bi-trash3 text-white" })

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>