@*@model IEnumerable<Young_Artists.Models.OrderForm>*@
@model IEnumerable<Young_Artists.ViewModel.COrderFormViewModel>
@{
    ViewData["Title"] = "訂單清單";
}

<div class="pagetitle">
    <h1>訂單詳情</h1>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
            </div><!-- End Page Title -->
@using (Html.BeginForm())
{
    @*<p>
        關鍵字
        @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢"/>
    </p>*@
}

<p>
    <a asp-action="Create" class="btn-primary btn">新增訂單</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                顧客名稱
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CommodityId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CommodityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommdityPrice)
            </th>
            <th>
                訂單總價
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            int num = 0;
            string title = "";
            string title2 = "";
            foreach (var item in Model) {
                count++;
                num = item.num;
                title = item.CommodityName;
                title2 = item.CustomerName;
                <tr>
            <td>
                @count
            </td>
            <td>
                    <!--<a asp-action="QueryId" asp-controller="OrderForm" asp-route-id="" >查看資料</a>-->
                    @Html.ActionLink(title2, "QueryCustomer", new { id=item.NumberId  },new{Class="btn btn-light rounded-pill"})
                
            </td>
            @*<td>
                @Html.ActionLink(title, "QueryCommodity", new { id=item.NumberId  },new{Class="btn btn-primary"})
                @Html.DisplayFor(modelItem => item.CommodityId)
            </td>*@
            <td>
                @Html.ActionLink(title, "QueryCommodity", new { id=item.CommodityId  },new{Class="btn btn-light rounded-pill"})
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommdityPrice)
            </td>
            <td>
                        @num
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsState)
            </td>
                <td>
                        @Html.ActionLink("", "Edit", new { id=item.Id  },new { Class = "btn btn-warning bi bi-brush text-white"})
                        @Html.ActionLink("", "OnLine", new {  id=item.Id },new { Class = "btn btn-primary bi bi-arrow-down-up"})
                        @Html.ActionLink("", "Delete","OrderForm"
                , new { id=item.Id },new {onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger bi bi-trash3 text-white"})
                </td>
        </tr>
            }
        }
    </tbody>
</table>
