@model IEnumerable<Young_Artists.Models.EventType>

@{
    ViewData["Title"] = "List";
}

<h1>活動種類</h1>
@using (Html.BeginForm())
{
    <p>
        活動種類關鍵字查詢
        @Html.TextBox("txtEventKeyword")
        <input type="submit" value="查詢" />
    </p>
}
<div class="container d-flex mb-3">
    <div class="btn-group me-3">
        <a class="nav-link dropdown-toggle text-white btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            活動管理
        </a>
        <ul class="dropdown-menu position-absolute right">
            <li><a class="dropdown-item " href="~/Event/List">回到活動列表</a></li>
            <li><a class="dropdown-item " href="~/Event/Create">建立新活動</a></li>
        </ul>
    </div>
    <div class="btn-group me-3">
        <a class="nav-link dropdown-toggle text-white btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            活動地點管理
        </a>
        <ul class="dropdown-menu position-absolute right">
            <li><a class="dropdown-item " href="~/EventLocation/List">回到活動地點列表</a></li>
            <li><a class="dropdown-item " href="~/EventLocation/Create">建立新活動地點</a></li>
        </ul>
    </div>
    <div class="btn-group me-3">
        <a class="nav-link dropdown-toggle text-white btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            活動種類管理
        </a>
        <ul class="dropdown-menu position-absolute right">
            <li><a class="dropdown-item " href="~/EventType/List">回到活動種類列表</a></li>
            <li><a class="dropdown-item " href="~/EventType/Create">建立新活動種類</a></li>
        </ul>
    </div>
</div>
<p>
    <a asp-action="Create">建立新活動種類</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                活動種類
            </th>
            <th>
                活動種類名稱
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTypeName)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit","EventType", new { id = item.EventTypeId } , new{@class = "btn btn-success"})
                </td>
                <td>
                    @Html.ActionLink("刪除", "Delete", "EventType", new { id = item.EventTypeId },new { onclick = "return confirm('是否確定要刪除此活動種類?')",@class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
