@*@model IEnumerable<Young_Artists.Models.OrderForm>*@
@model IEnumerable<Young_Artists.ViewModel.COrderFormViewModel>
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢"/>
    </p>
}

<p>
    <a asp-action="Create">新增訂單</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommodityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommdityPrice)
            </th>
            <th>
                訂單總價
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            int num = 0;
            foreach (var item in Model) {
                count++;
                num = item.num;
                <tr>
            <td>
                @count
            </td>
            <td>
                    <!--<a asp-action="QueryId" asp-controller="OrderForm" asp-route-id="" >查看資料</a>-->
                @Html.ActionLink("查看資料", "QueryCustomer", new { id=item.NumberId  })
                @Html.DisplayFor(modelItem => item.NumberId)
            </td>
                <td>
                    @Html.ActionLink("查看資料", "QueryCommodity", new { id=item.NumberId  })
                @Html.DisplayFor(modelItem => item.CommodityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommdityPrice)
            </td>
            <td>
                        @num
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsState)
            </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id=item.Id  }) |
                    @Html.ActionLink("上下架", "OnLine", new {  id=item.Id }) |
                    @Html.ActionLink("刪除", "Delete","OrderForm"
                , new { id=item.Id },new {onclick = "return confirm('確定要刪除嗎?')"})
                </td>
        </tr>
            }
        }
    </tbody>
</table>
