@model IEnumerable<Young_Artists.Models.Announcement>

@{
    ViewData["Title"] = "List";
}

<h1>公告管理一覽</h1>

<p>
    <a asp-action="Create" text-decoration:none>新增公告</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                公告類型
            </th>
            <th>
                公告標題
            </th>
            <th>
                公告時間
            </th>
            <th>
                公告內容
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnnouncementType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.ActionLink("詳細資訊", "List","Detail",new { id=item.DetailsId })
                        @Html.DisplayFor(modelItem => item.DetailsId)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit",new { id=item.Aid }) |
                        @Html.ActionLink("刪除", "Delete" , new { id=item.Aid }, new { onclick ="return confirm('確定要刪除嗎?')"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
