@model IEnumerable<Young_Artists.Models.TicketOrder>

@{
	ViewData["Title"] = "List";
}

<h1>訂單明細列表</h1>
@using (Html.BeginForm())
{
	<p>
		<div>
			請輸入會員id
		</div>

		@Html.TextBox("id")
		<input type="submit" value="查詢" />
	</p>
}
<p>
	<a asp-action="Create">新增訂單明細</a>
</p>

<div class="container d-flex mb-3">
	<div class="btn-group me-3">
		<a class="nav-link dropdown-toggle text-white btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			訂單明細管理
		</a>
		<ul class="dropdown-menu position-absolute right">
			<li><a class="dropdown-item " href="~/TicketOrder/List">回到訂單明細列表</a></li>
			<li><a class="dropdown-item " href="~/TicketOrder/Create">後端建立新訂單明細</a></li>
			<li><a class="dropdown-item " href="~/FrontCode/Buy">前端建立新訂單明細</a></li>

		</ul>
	</div>
	<div class="btn-group me-3">
		<a class="nav-link dropdown-toggle text-white btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			查看訂單中的票
		</a>
		<ul class="dropdown-menu position-absolute right">
			<li><a class="dropdown-item " href="~/TicketOrder/List_Detail">查看全體訂單中的票</a></li>
		</ul>
	</div>

</div>
<table class="table">
	<thead>
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.OrderId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderTotalPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderCreateTimestamp)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderUpdateTimestamp)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderUpdateId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderState)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.OrderId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderTotalPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderCreateTimestamp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderUpdateTimestamp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderUpdateId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderState)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerId)
				</td>
				<td>
					@Html.ActionLink("修改", "Edit","TicketOrder", new { id = item.OrderId } , new{@class = "btn btn-success"})
				</td>
				<td>
					@Html.ActionLink("刪除", "Delete", "TicketOrder", new { id = item.Id },new { onclick = "return confirm('是否確定要刪除此訂單?')",@class = "btn btn-danger" })
				</td>
				<td>
					@Html.ActionLink("查看詳細資料", "List_Detail", "TicketOrder", new { id = item.OrderId },new { @class = "btn btn-primary" })
				</td>
			</tr>
		}
	</tbody>
</table>
